.bodyContainer{
    display: flex;
    flex-direction:column;
    background-color: rgb(250, 198, 198);
    flex-wrap: nowrap;
    justify-items: center;
    margin: 0px;
}
.bodyItem{
    background-color: blueviolet;
    display: flexbox;
    width: auto;
    height: 30vh;
    max-width: 2000px;
}
.navBar{
    background-color: rgb(221, 221, 221);
    height: 10vh;
}
.img{
    background-color: rgb(156, 91, 91);
    height: 60vw;
}
.footer{
    background-color: rgb(93, 196, 132);
    height: 10vh;
}

li{
    display: inline;
}
.navButton{
    background-color: rgb(182, 182, 182);
}