.bodyContainer{
    display: flex;
    flex-direction:column;
    background-color: rgb(250, 198, 198);
    flex-wrap: nowrap;
    justify-items: center;
    margin: 0px;
}
.bodyItem{
    background-color: blueviolet;
    display: flex;
    width: auto;
    height: 30vh;
    max-width: 1400px;
}
.navBar{
    background-color: rgb(221, 221, 221);
    height: 10vh;
}
.img{
    background-color: rgb(156, 91, 91);
    height: 60vw;
    max-height: 700px;
}
.footer{
    background-color: rgb(93, 196, 132);
    height: 10vh;
}
ul{
    padding: 0px;
    display: flex;
    background-color: beige;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
}
li{
    list-style-type: none;
    display: flex;
    background-color: rgb(231, 136, 11);
    flex-grow: 1;
}
.navButton{
    background-color: rgb(184, 184, 184);
    display: flex;
    flex-grow: 1;
    margin: 1px;
    justify-content: center;
    align-items: center;
}
